<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="wheel_xacro" params="wheel_name xyz">
        <link name="${wheel_name}_link">
            <!-- 部件的外观描述 -->
            <visual>
                <!-- 沿着自身几何中心的偏移和旋转量 -->
                <origin xyz="0.0 0.0 0.0" rpy="1.57079 0.0 0.0"/>
                <!-- 几何形状 -->
                <geometry>
                    <cylinder radius="0.032" length="0.04"/>
                </geometry>
                <!-- 材质和颜色描述 -->
                <material name="yellow">
                    <!-- 红绿蓝透明度 -->
                    <color rgba="1.0 1.0 0.0 0.8"/>
                </material>
            </visual>
        </link>

        <!-- 机器人的关节 用于组合机器人的部件 -->
        <joint name="${wheel_name}_joint" type="continuous"> 
            <parent link="base_link"/> 
            <child link="${wheel_name}_link"/>
            <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
            <axis xyz="0 1 0"/>
        </joint>
    </xacro:macro>
</robot>