<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="first_robot">
    <xacro:macro name="base_link" params="length radius">
        <link name="base_link">
        <!-- 部件的外观描述 -->
        <visual>
            <!-- 沿着自身几何中心的偏移和旋转量 -->
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <!-- 几何形状 -->
            <geometry>
                <!-- 圆柱体 单位：m -->
                <cylinder radius="${radius}" length="${length}"/>
            </geometry>
            <!-- 材质和颜色描述 -->
            <material name="white">
                <!-- 红绿蓝透明度 -->
                <color rgba="1.0 1.0 1.0 0.5"/>
            </material>
        </visual>
    </link>
    </xacro:macro>
    <!-- CTRL+/添加注释 -->
    <!-- 机器人的身体部分 -->
    <xacro:macro name="imu_link" params="imu_name xyz">
        <link name="${imu_name}_link">
            <!-- 部件的外观描述 -->
            <visual>
                <!-- 沿着自身几何中心的偏移和旋转量 -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- 几何形状 -->
                <geometry>
                    <!-- 长宽高 m -->
                    <box size="0.02 0.02 0.02"/>
                </geometry>
                <!-- 材质和颜色描述 -->
                <material name="black">
                    <!-- 红绿蓝透明度 -->
                    <color rgba="0.0 0.0 0.0 0.5"/>
                </material>
            </visual>
        </link>

        <!-- 机器人的关节 用于组合机器人的部件 -->
        <joint name="${imu_name}_joint" type="fixed"> 
            <parent link="base_link"/> 
            <child link="${imu_name}_link"/>
            <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
        </joint>
    </xacro:macro>

    <xacro:base_link length="0.12" radius="0.1"/>
    <xacro:imu_link imu_name="imu_up" xyz="0.0 0.0 0.03"/>
    <xacro:imu_link imu_name="imu_down" xyz="0.0 0.0 -0.03"/>
    
</robot>