<?xml version="1.0"?>
<robot name="first_robot">
    <!-- STRL+/添加注释 -->
    <!-- 机器人的身体部分 -->
    <link name="base_link">
        <!-- 部件的外观描述 -->
        <visual>
            <!-- 沿着自身几何中心的偏移和旋转量 -->
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <!-- 几何形状 -->
            <geometry>
                <!-- 圆柱体 单位：m -->
                <cylinder radius="0.10" length="0.12"/>
            </geometry>
            <!-- 材质和颜色描述 -->
            <material name="white">
                <!-- 红绿蓝透明度 -->
                <color rgba="1.0 1.0 1.0 0.5"/>
            </material>
        </visual>
    </link>
    <!-- 机器人的imu 惯性测量传感器 -->
    <link name="imu_link">
        <!-- 部件的外观描述 -->
        <visual>
            <!-- 沿着自身几何中心的偏移和旋转量 -->
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <!-- 几何形状 -->
            <geometry>
                <!-- 长宽高 m -->
                <box size="0.02 0.02 0.02"/>
            </geometry>
            <!-- 材质和颜色描述 -->
            <material name="black">
                <!-- 红绿蓝透明度 -->
                <color rgba="0.0 0.0 0.0 0.5"/>
            </material>
        </visual>
    </link>
    <!-- 机器人的关节 用于组合机器人的部件 -->
    <joint name="joint_name" type="fixed"> 
        <parent link="base_link"/> 
        <child link="imu_link"/>
        <origin xyz="0.0 0.0 0.03" rpy="0.0 0.0 0.0"/>
    </joint>
</robot>